<!DOCTYPE HTML>
<html>
  <head>
  <style>
    body {
    font-family: Arial;
    text-align: center; 
    }
    img {
      margin-right: 10px;
    }
  </style>
  </head>
  <body>
    {{ message }}
        <br><br>
          <img src="http://ww1.hdnux.com/photos/45/70/31/9930344/3/1024x1024.jpg" height = "400" width = "400">
          <img src="http://s2.quickmeme.com/img/21/21c71509584aaf9f6576b8aeb80ad0d5afa6114e6da2c79e3b0d1808c948b6e7.jpg" height = "400" width = "300">
        <br><br>
        <a href="/logout/">Click Here To Log Out.</a>
  </body>
</html>
